@import "~bulma/sass/utilities/_all";

@import "~bulma/sass/helpers/_all";

$dragon-dark: #0A0A0A;
$dragon-purple: #5C2D91;
$light-dragon-pink: #E03F8E;
$dragon-pink: #DA257D;
$dragon-blue: #3B5FCE;
$dragon-cyan: #31D8F2;

$primary: $dragon-purple;
$link: $dragon-pink;
$info: $dragon-dark;
$success: $dragon-pink;
$warning: $dragon-cyan;
$danger: $dragon-pink;
$dark: $dragon-dark;
$text: $dragon-dark;

$navbar-background-color: $dragon-dark;
$navbar-item-color: white;
$navbar-item-hover-color: $dragon-pink;

$body-background-color: white;
$body-color: $dragon-dark;
$border-color: $dragon-pink;

$link: white;

$box-background-color: $dragon-dark;
$box-color: white;
$title-color: $dragon-pink;

$footer-background-color: $dragon-dark;
$footer-color: white;
$footer-padding: 3rem 1.5rem 6rem;

$hr-background-color: lighten($dragon-dark, 70%);
$hr-height: 2px;
$hr-margin: 2.5rem 0;

$section-padding: 2rem 1rem;

@import "~bulma/sass/base/_all";
@import "~bulma/sass/components/navbar.sass";
@import "~bulma/sass/layout/section.sass";
@import "~bulma/sass/elements/container.sass";
@import "~bulma/sass/layout/footer.sass";
@import "~bulma/sass/components/level.sass";
@import "~bulma/sass/elements/title.sass";
@import "~bulma/sass/layout/hero";
@import "~bulma/sass/layout/section";
