@import "color-overrides.scss";

$card-radius: 0.3rem;

$card-header-padding: 0.1rem 1rem;
$card-header-shadow: 0 0.125em 0.25em rgba($scheme-invert, 0.1);
$card-header-weight: $weight-bold;

$card-content-background-color: transparent;
$card-content-padding: 1rem;

$card-footer-border-top: 1px solid $border-light;
$card-footer-padding: 0rem;

$card-media-margin: $block-spacing;


$card-background-color: $dragon-dark;
$card-color: white;
$card-header-background-color: $dragon-dark;
$card-header-color: white;
$card-footer-background-color: $dragon-pink;
$card-shadow: $dragon-pink;

@import "~bulma/sass/components/card.sass";

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-header {
  background: linear-gradient(-40deg, $dragon-pink, $light-dragon-pink 45%, $dragon-pink 45%) $dragon-pink;
  animation: backgroundShift 20s infinite linear;
}

.card-footer {
  font-weight: $weight-bold;
  background: linear-gradient(-40deg, $dragon-purple, lighten($dragon-purple, 15%) 50%, $dragon-purple 45%) $dragon-purple;
  background-size: 150% 100%;
  background-position: 0 center;
  transition: background-position 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);

  &:hover {
    background-position: 100% center;
  }
}


.card footer a {
  color: $card-color;
  text-decoration: none;
}

.card-content {
  flex-grow: 1;
}

@keyframes backgroundShift {
  0% {
    background-size: 100% 100%;
    background-position: 0% 0%;
  }
  50% {
    background-size: 150% 150%;
    background-position: 50% 50%;
  }
  100% {
    background-size: 100% 100%;
    background-position: 0% 0%;
  }
}
