@import "color-overrides";

@import "~bulma/sass/utilities/_all";
@import "~bulma/sass/components/navbar";

nav {
  .navbar-brand {
    align-items: center;
  }

  & h1.title {
    color: white;
    margin-bottom: 0 !important;

    & > span {
      color: $light-dragon-pink;
    }
  }

  a {
    text-decoration: none;
  }

}

.logo {
  padding: 0.5rem 0 0.5rem 0.5rem;

  img {
    height: 3rem;
    max-height: none;
  }
}

nav h1.title {
  @include mobile {
    font-size: 1.4rem;
    line-height: 1.1;
    display: block !important;

    span {
      display: block;
    }
  }
}
