@import "base";

section.hero {
  padding-top: 80px;
  background: linear-gradient(-40deg, lighten($dragon-purple, 8%), $dragon-pink 45%, lighten($dragon-purple, 8%) 45%) lighten($dragon-purple, 8%);
}

section.hero .subtitle {
  font-size: 1.2rem;
  @include tablet {
    font-size: 1.5rem;
  }
  color: $dragon-dark;
}

section.hero .title {
  font-size: 2.5rem;
  @include tablet {
    font-size: 3.5rem;
  }
  color: $dragon-dark;
}

.hero .container .section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero .column.is-justify-content-flex-end {
  display: flex;
}

@keyframes hoverEffect {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.hovering-element {
  animation: hoverEffect 4s ease-in-out infinite;
}

.cursor {
  animation: blink 1s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
