@import "base";

$dragon-blue-lighter: lighten($dragon-blue, 5%);
$dragon-purple-lighter: lighten($dragon-purple, 35%);
$dragon-purple-even-lighter: lighten($dragon-purple, 25%);

// Subtler Inline Code Styling for .language-text
.content code.language-text {
  background-color: lighten($dragon-cyan, 25%);
  color: $dragon-dark;
  padding: 0.1em 0.2em; // Reduced padding for less emphasis
  margin: 0;
  font-size: 0.85em;
  border-radius: 2px;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  word-wrap: break-word;
}

.content h3 code.language-text {
  background-color: lighten($dragon-cyan, 30%);
  color: $dragon-pink;
}

// Custom PrismJS Theme
code[class*="language-"],
pre[class*="language-"] {
  color: white; // Use the text color for the code
  background: $dragon-dark; // Dark background for the code blocks
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1em;
  line-height: 1.5;
}

pre[class*="language-"] {
  border-left: 5px solid $dragon-pink;
}

// Token colors
.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: lighten($dragon-cyan, 10%); // Lighter cyan for comments
}

.token.punctuation {
  color: $light-dragon-pink; // Light pink for punctuation
}

.token.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: $dragon-blue-lighter; // Blue for properties, tags, etc.
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: $dragon-pink; // Pink for strings, selectors, etc.
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: $dragon-purple-lighter; // Purple for operators, entities, and URLs
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: $dragon-purple-even-lighter; // Use the primary color for keywords
}

.token.function,
.token.class-name {
  color: white; // Dark color for functions and class names
}

.token.regex,
.token.important,
.token.variable {
  color: $warning; // Cyan for regex, important, and variables
}

.token.important {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

// Ensure links within code blocks are visible
.token.url a {
  text-decoration: underline;
  color: $link;
}

.token.tag .token.punctuation {
  color: $dragon-purple-lighter; // Lighter purple for tag punctuation
}

.token.attr-name {
  color: $dragon-pink; // Pink for attribute names, giving a nice contrast
}

.token.attr-value {
  color: $dragon-purple-even-lighter; // Lighter purple for attribute values
}

.token.punctuation {
  color: $light-dragon-pink; // Ensures punctuation outside tags also matches
}

.token.string {
  color: $dragon-pink; // Ensures strings within or outside tags stand out
}

// Ensuring a cohesive look for all elements
pre[class*="language-"] .token.tag {
  border-radius: 2px; // Optional: adds a subtle rounded look to tags if you want
  padding: 0.1em 0.2em; // Also optional: a bit of padding to make tags slightly elevated
  background-color: $dragon-dark; // Ensures tags have the same background color as the code block
  font-size: 1rem;
}

