@import "base";

$tag-background-color: $background;
$tag-color: $text;
$tag-radius: $radius;
$tag-delete-margin: 1px;

$tag-colors: $colors;

@import "~bulma/sass/elements/tag.sass";

// Defining base colors for JavaScript and React
$javascript-yellow: #f0db4f; // Classic JS yellow
$react-blue: #61DAFB; // React's brand blue

// Now, assigning thematic colors for the rest, inspired by your palette
$state-management-color: #4D91C6; // A stable, reliable blue
$immutability-color: #E078C1; // A mix of dragon-pink, implying unchanging nature
$best-practices-color: #7F5CAD; // A wise, deep purple
$programming-tips-color: #F2A431; // A helpful, guiding gold
$data-structures-color: #3FC1C9; // Structured, logical cyan
$debugging-color: #F25C78; // Alert, cautionary pink
$functional-programming-color: #9D6C7C; // A unique, thoughtful mauve
$web-development-color: #49A9EE; // Bright, expansive sky blue
$development-tools-color: #C0C0C0; // A versatile, metallic silver
$strict-mode-color: #606C88; // A disciplined, authoritative grey

.tags {
  .tag.tag-javascript {
    background-color: $javascript-yellow;
  }

  .tag.tag-react {
    background-color: $react-blue;
  }

  .tag.tag-state-management {
    background-color: $state-management-color;
  }

  .tag.tag-immutability {
    background-color: $immutability-color;
  }

  .tag.tag-best-practices {
    background-color: $best-practices-color;
  }

  .tag.tag-programming-tips {
    background-color: $programming-tips-color;
  }

  .tag.tag-datastructures {
    background-color: $data-structures-color;
  }

  .tag.tag-debugging {
    background-color: $debugging-color;
  }

  .tag.tag-functional-programming {
    background-color: $functional-programming-color;
  }

  .tag.tag-web-development {
    background-color: $web-development-color;
  }

  .tag.tag-development-tools {
    background-color: $development-tools-color;
  }

  .tag.tag-strict-mode {
    background-color: $strict-mode-color;
  }
}

// Adding text color for readability
$text-dark: #333333; // Dark gray for light backgrounds
$text-light: #FFFFFF; // White for dark backgrounds

.tags {
  .tag {
    &.tag-javascript,
    &.tag-react,
    &.tag-web-development,
    &.tag-development-tools,
    &.tag-datastructures { // Light backgrounds
      color: $text-dark;
    }

    &.tag-state-management,
    &.tag-immutability,
    &.tag-best-practices,
    &.tag-programming-tips,
    &.tag-debugging,
    &.tag-functional-programming,
    &.tag-strict-mode { // Dark backgrounds
      color: $text-light;
    }
  }
}
